.column {
    float: left;
    width: 33.33%;
    margin-left: 10px;
  }
  .postListing{
    max-height: 500px;
    height: 500px;
  }
  .css-1vp1qdv-MuiGrid-root>.MuiGrid-item{
    padding-top: 40px !important;
  }